<app-side-bar></app-side-bar>
<div id="right-panel" class="right-panel">
        <header id="header" class="header">
                <div class="top-left">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="./"><img src="assets/images/logo.png" alt="Logo"></a>
                        <a class="navbar-brand hidden" href="./"><img src="assets/images/logo2.png" alt="Logo"></a>
                        
                    </div>
                </div>
              
              </header>
<app-page-content></app-page-content>
</div>